@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-LightItalic.ttf");
  font-style: italic;
}

@font-face {
  font-family: "Barlow";
  src: url("/fonts/Barlow/Barlow-Light.ttf");
}

* {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, sans-serif;
}

h1 {
  margin: 0 0 1rem;
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
}

p {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

ul {
  line-height: 1.5rem;
}

ul > li {
  list-style-type: none;
  font-size: 0.9rem;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
}

a:hover {
  background-color: lightcyan;
}

.emphasis {
  font-weight: bold;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 1rem;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: lightyellow;
}

.content {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Slider__Container {
  position: relative;
}

.Slider__NavigationZone {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.Slider__Left {
  left: 0;
  cursor: w-resize;
}

.Slider__Right {
  right: 0;
  cursor: e-resize;
}

.Slider__Controls {
  display: flex;
  justify-content: center;
}

.Slider__Anchor {
  margin: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: lightgrey;
  cursor: pointer;
}

.Slider__Anchor.Slider__Anchor--selected {
  background-color: black;
}

.TestimonialItem__Quote {
  font-style: italic;
}

.TestimonialItem__Author {
  margin: 0.5rem 0 2rem;
  text-align: right;
}

.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Contact__Image {
  max-width: 200px;
  max-height: 200px;
}

.Contact__Image img {
  border-radius: 50%;
}

.Contact__Email {
  padding: 2rem;
}
